extends layout

block content
  link(href='/css/style.css', rel='stylesheet')
  link(href='/css/medium-editor.min.css', rel='stylesheet')
  link(href='/css/flat.min.css', rel='stylesheet')

  include navbar

  .container
    .row.header
      h1 Express yourself on Twitter with more character(s)
      p I like writing, but I don't have a blog. I could start one, but it's such an investment. It means commiting to blogging with some regularity, setting up a domain and a design, and building a new audience.
      p I already have an audience on Twitter (hi gals and guys!), it might not be huge, but these are people who explicitely asked to hear my thoughts..
      p That's why I'm so excited about Squall. I don't have to 'tweetstorm', and I don't have to set up a blog. When I have something interesting to say, I can say it. When I don't, I don't need to worry about a blog collecting dust..
      p All Squalls are images, so they display right in the twitter stream - where they can be read and shared. I hope you enjoy my Squalls! If not, you know where to find the unfollow button ;)
      p -Austin (@awwstn)
      p Squall was built with ♥ on assembly. 
